.capitals-container {
  background-color: #93c5fd;
  min-height: 100vh;
  border: 1px solid #93c5fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #f8fafc;
  padding: 10px;
  border-radius: 10px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}

.capitals-menu {
  height: 28px;
  width: 150px;
  border: 1px solid #cbd2d9;
  border-radius: 3px;
  background-color: #f8fafc;
  font-family: 'Roboto';
  padding-left: 5px;
  outline: none;
}

.descreption {
  color: #323f4b;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 600;
  margin-left: 16px;
}

@media (max-width: 576px) {
  .card-container {
    max-width: 150px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.list-item-container {
  list-style-type: none;
  padding-left: 0px;
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-name {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
}
